<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/sign-up" method="POST" style="display:flex; flex-direction: column; width: 10rem; margin: auto;" >
        <h1>**********</h1>

        <label for="username">Username:</label>
        <input id="username" name="username" placeholder="" type="text" />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" />

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>